* {
    box-sizing: border-box;
}

body {
    background-color: #8B9EB7;
    color: #3D0814;
    font-family: 'Courier New', Courier, monospace;
}

main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 4em;
    margin-top: 0.5em;
}

.book-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-book {
    font-size: 1.6rem;
    font-weight: 800;
    padding: 0.5em 1.6em;
    border-radius: 0.4em;
    border: none;
    margin-bottom: 2em;
    cursor: pointer;
    background-color: #3D0814;
    color: #ffffff;
}

.add-book:hover {
    background-color: #560b1d;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

dialog::backdrop {
    background-color: gray;
    opacity: 0.7;
}

.dialog-container {
   padding: 3em;
   padding-bottom: 2em;
   border: 2px solid black;
   border-radius: 0.5em;
   position: relative;
   background-color: bisque;
   color: #3D0814;
}

.close-btn {
   position: absolute;
   right: 1.5em;
   top: 1.5em;
   width: 3em;
   height: 2em;
   background-color: #A4031F;
   color: #ffffff;
   border: none;
   border-radius: 0.5em;
   font-weight: bold;
   cursor: pointer;
}

.close-btn:hover {
    background-color: #d00627;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: min-content;
    gap: 1em;
    font-size: 1.2rem;
    margin-top: 1em;
    font-weight: 700;
}

.form > .row > input {
    margin-top: 0.4em;
    padding: 0.4em;
    font-size: 1rem;
    background-color: #ecebeb;
    color: #3D0814;
    font-weight: 700;
}

.status-row {
    display: flex;
    align-items: center;
}

.status-row > input[type="checkbox"] {
  accent-color: #2196F3; 
  width: 1.4em; 
  height: 1.4em;
  margin-left: 1em;
  cursor: pointer;
}

.btn-row {
    margin: 0.5em auto 0;
}

.submit-btn {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.7em 4em;
    margin: 0.5em auto;
    border: none;
    border-radius: 0.5em;
    background-color: #007468ff;
    color: #ffffff;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: rgb(0, 97, 87);
}

.book-card {
    width: 20em;
    padding: 1em;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: bisque;
    border-radius: 0.5em;
}

.book-card > h2 {
    margin-top: 0;
    padding-top: 0;
    font-size: 2rem;
}

.book-card > button {
    width: 7em;
    background-color: #007468ff;
    color: #ffffff;
    font-size: 0.9rem;
    padding: 0.7em 1.6em;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-right: 1.5em;
}

.book-card > button:hover {
    opacity: 0.8;
}

.book-card > .deleteBtn {
    background-color: #A4031F;
}

.book-card > .deleteBtn:hover {
    background-color: #d00627;
}
