* {
    box-sizing: border-box;
}

dialog::backdrop {
    background-color: gray;
    opacity: 0.7;
}

.dialog-container {
   padding: 2em;
   border: 2px solid black;
   border-radius: 0.5em;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: min-content;
    gap: 1em;
    font-size: 1.2rem;
}

.form > .row > input {
    margin-top: 0.4em;
}

.book-card {
    width: 300px;
    padding: 1em;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: bisque;
    border-radius: 0.5em;
}

.book-card > h2 {
    margin-top: 0;
    padding-top: 0;
    font-size: 2rem;
}

.book-card > button {
    background-color: green;
    color: #ffffff;
    font-size: 0.9rem;
    padding: 0.5em 1.6em;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-right: 1.5em;
}

.book-card > button:hover {
    background-color: rgb(0, 96, 0);
}

.book-card > .deleteBtn {
    background-color: red;
}

.book-card > .deleteBtn:hover {
    background-color: rgb(218, 0, 0);
}
